body {
    background-color: hsl(226, 43%, 10%); 
    font-family: 'Rubik', sans-serif;
    padding: 0px 30px;
}

 

.profile-picture img {
    height: 60px;
    border: 2px solid white;
    border-radius: 40px;
}
 

.custom-card {
    margin-top: 80px;
}


.custom-card-title {
    background-color: hsl(246, 80%, 60%);
    border-radius: 20px;
    padding: 20px 0px;
   
}

.small-subtitle {
    color: hsl(236, 100%, 87%);
}

.name {
    font-weight: 300;
    color: white;
}


.custom-card-options {
     text-align: center;
     margin-top: -10px;
    
}

.custom-card-options .row {
    background-color: hsl(235, 46%, 20%);
    border-radius: 0px 0px 20px 20px;
    position: relative;
    z-index: -1;
}
 
.custom-option  {
    color: hsl(235, 45%, 61%);
    padding: 30px 0px 20px 0px;
    
}

.title-card-container .row {
    margin: 0px 8px;
}
 
 
.active-option {
    color: white;
}


.todo-card {
    background-color: hsl(235, 46%, 20%);
    border-radius: 15px;
    margin-top: -30px;
    position: relative;
    z-index: 99;
    transition:  .5s;
}

.todo-card:hover {
    background-color: hsl(235, 45%, 61%);
}


.todo-title, .time-duration {
    color: white;
}

.time-duration {
    font-size: 30px;
    font-weight: 200;
}
 

.back-card {
    
    overflow: hidden;
    border-radius: 15px 15px 0px 0px;
}

.back-card img {
    height: 80px;
}

.work {
    background-color: hsl(15, 100%, 70%);
}

.play {
    background-color: hsl(195, 74%, 62%);
}
 
.study {
    background-color: hsl(348, 100%, 68%);
}

.exercise {
    background-color:  hsl(145, 58%, 55%);
}

.social {
    background-color: hsl(264, 64%, 52%);
}

.self-care {
    background-color: hsl(43, 84%, 65%);
} 

.week-time {
    color: hsl(236, 100%, 87%);
    font-size: 13px;
}

.back-card img {
    margin-top: -10px;
}



@media screen and (min-width:  992px) {

    body {
        display: flex;
        justify-content: center;
        padding-top: 150px;
    }

    .custom-card {
        margin-top: 20px;
    }

    .custom-card, .custom-card-options{
        max-width: 250px;
    }

    .profile-description .name {
       font-size: 34px;
    }

    .custom-card-options {
        text-align: left;
      
    }

    .title-card-container .row {
        margin: 0px ;
    }

    .custom-option:nth-of-type(1) {
        margin: 7px 0px;
        padding-top: 30px;
    }

    .custom-option  {
        padding-left: 20px;
        padding-top: 5px;
    }

    .time-duration {
        margin-top: 18px;
        font-size: 44px;
    }

    .todos-row {
        margin: 20px 0px;
    }

    .profile-picture img {
        margin: 30px 0px;
    }

    .custom-card-title {
        background-color: hsl(246, 80%, 60%);
        border-radius: 20px;
        padding-top: 0px;
        padding-left: 6px;
        padding-bottom: 35px;
    }

    .name .col-lg-12 {
        padding-left: 0px;
    }

    .row {
        margin-right: 10px;
    }
    
   
    
}